[Unit]
Description=OpenStack DNS Updater
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/opt/openstack-dns-updater/openstack-dns-updater.py
PrivateTmp=true
KillMode=process

[Install]
WantedBy=multi-user.target
